<!-- All charts need to be in one template so they can all be rendered with the same data from the JS -->
<template name="charts">
  <div class="container" style="overflow: visible;">
    <canvas id="wellnessChart"     width="20" height="12" style="display: block; margin-top:40px;"></canvas>    
    <canvas id="impulseVsWellness" width="20" height="12" style="display: block; margin-top:20px;"></canvas>
    <canvas id="impulseChart"      width="20" height="12" style="display: block; margin-top:40px;"></canvas>
  </div>

  <div class="smartToggleDE" data-collapsed='true' style="height:0px;">
    <div class="container" style="overflow: visible;">
      <canvas id="durationChart" width="20" height="12" style="display: block; margin-top:40px;"></canvas>
      <canvas id="RPEChart"      width="20" height="12" style="display: block; margin-top:40px;"></canvas>
    </div>
  </div>

  <!-- smart toggle for detailed wellness -->
  <div class="smartToggleDW" data-collapsed='true' style="height:0px;">
    <div class="container" style="overflow: visible;">
      <canvas id="sleepChart"    width="20" height="12" style="display: block; margin-top:40px;"></canvas>
      <canvas id="physicalChart" width="20" height="12" style="display: block; margin-top:40px;"></canvas>
      <canvas id="mentalChart"   width="20" height="12" style="display: block; margin-top:40px;"></canvas>
    </div>
  </div>

  <div class="row text-center" style="margin-top:40px;height:auto;">
    {{#if showDE}}
      <button id="hideDE" type="submit" class="button button-secondary" style="text-align:center;height:auto;line-height:200%;">Less<br>Effort</button>
    {{else}}
      <button id="showDE" type="submit" class="button button-secondary" style="text-align:center;height:auto;line-height:200%;">More<br>Effort</button>
    {{/if}}
    {{#if showDW}}
      <button id="hideDW" type="submit" class="button button-secondary" style="text-align:center;height:auto;line-height:200%;">Less<br>Wellness</button>
    {{else}}
      <button id="showDW" type="submit" class="button button-secondary" style="text-align:center;height:auto;line-height:200%;" >More<br>Wellness</button>
    {{/if}}
  </div>
  <!-- smart toggle for detailed wellness -->
</template>
