<template name="chartWellness">
  <div class="row" ><!--style="width:50%;"-->
    <canvas id="wellnessChart" width="20" height="12" style="display: block; margin-top:40px;"></canvas>
  </div>
  <div class="row" ><!--style="width:50%;"-->
    <canvas id="wellnessChart1" width="20" height="12" style="display: block; margin-top:40px;"></canvas>
  </div>
  <div class="row" ><!--style="width:50%;"-->
    <canvas id="wellnessChart2" width="20" height="12" style="display: block; margin-top:40px;"></canvas>
  </div>
</template>
